{% extends "base.html" %}

{% block title %}About me{% endblock title %}

{% block content %}
<section class="about-section">
   <div class="about-container flex-container">
        <div class="about-image-container">
        <img src="/static/img/me.jpg" class="center">
    </div>
   <div class="about-description-container">
        <h1>MY ROLE AS A DEVELOPER</h1>
        <h2 class="name">Jesenia Guerrero</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aspernatur, quia, voluptates dignissimos tenetur ducimus fuga doloremque quae, esse soluta vitae asperiores? Accusantium nesciunt ratione libero adipisci cumque asperiores illum?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, totam vitae! Enim et provident esse aut beatae tempora porro aliquam corrupti inventore non in, vero soluta a qui ad iusto.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo totam voluptate impedit, iste sunt, minima hic esse magni voluptas at neque repellat consequatur saepe veniam enim laudantium vitae explicabo ipsa.</p>
  
    <div class="skills-list">
        <h2 class="center ski">Skills</h2>

        <div class="tags-container center">
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
           
        </div>
   </div>

    </div>
   
</div>

</section>

{% endblock content %}