{% extends "base.html" %}

{% block title %}Content {% endblock title %}

{% block content %}

<section class="project-section">
    <h2 class="center" >Projects</h2>

    <div class="project-list flex-direction flex-container ">
        <div class="project-card ">
            <a href="https://github.com/Jessie1331/Re_React">
                <img src="/static/img/home2.png" class="project-img center">
                <p>DISS Footware</p>
                <p>a unique brands design "Diss your kick, try Diss Footware</p>
                <p>2023</p>
                <div class="skills-container ">
                    <label>REACT</label>
                    <label>CSS</label>
                    <label>HTML</label>
                </div>
             </a>
             </div>

        <div class="project-card ">
            <a href="https://github.com/Jessie1331/final-pet-salon/tree/main/pet%20solon">
                <img src="/static/img/download.jpg" class="project-img center">
                <p>Paws and Claws</p>
                <p>Paws and Claws is a pet solon that lets you choose your time</p>
                <p>2023</p>
                <div class="skills-container ">
                    <label>HTML</label>
                    <label>CSS</label>
                    <label>JAVASCRIPT</label>
                </div>
            </a>
            </div>
                
        <div class="project-card ">
            <a href="https://github.com/Jessie1331/re-realestate">
                <img src="/static/img/announcement1.jpg" class="project-img center">
                <p>Real-Estate</p>
                <p>Luxury homes realestate</p>
                <p>2023</p>
                <div class="skills-container ">
                    <label>HTML</label>
                    <label>CSS</label>
                    
                </div>
            </a>
            </div>
 
            </section>
            <section class="expirence-section">
                <h2 class="center">Expirence</h2>
                <div class="flex-container">
            <div class="expirence-card-container">
                <h3>Name of School ond Company</h3>
                <p>course name/job position</p>
                <p>short discription here about
               the courseor
                    responsibilities in the job 
                </p>
                <p><b>month-month-YYYY</b></p>
                <div class="skills-container skills-exp">
                   
                    <label>skill</label>
                    <label>Skill</label>
                    <label>Skill</label>
            
                </div>
            
            </div>
            <div class="expirence-card-container">
              <h3>Name of School ond Company</h3>
                <p>course name/job positionshort discription here aboutp
                    </p>  
                    <p>the courseor
                    responsibilities in the job 
                </p>
                <p><b>month-month-YYYY</b></p>
                <div class="skills-container skills-exp">
                   
                    <label>skill</label>
                    <label>Skill</label>
                    <label>Skill</label>
                   
                </div>
            
            </div>
            <div class="expirence-card-container">
               <h3>Name of School ond Company</h3>
                <p>course name/job position</p>
                <p>short discription here aboutthe courseor
                    responsibilities in the job no mo
                </p>
                <p><b>month-month-YYYY</b></p>
                <div class="skills-container skills-exp">
                   
                    <label>skill</label>
                    <label>Skill</label>
                    <label>Skill</label>
                   
                </div>
            
            </div>
            </div>
            </div>
            </section>

{% endblock content %}
